@font-face {
    font-family: 'seolleimcool-SemiBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2312-1@1.1/seolleimcool-SemiBold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

$seolFont: 'seolleimcool-SemiBold';
$Wcolor: #FFFEF1;
$Bcolor: #1B1B1B;

a {
    text-decoration: none;
    color: inherit;
}

ul {
    padding-left: 0;
    margin-bottom: 0;
}

li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0;
    list-style: none;
}

.w-0 {
    width: 0;
    white-space: nowrap;
}

.zup {
    z-index: 99999;
}

/////////////////header zone/////////////////

header {
    font-family: $seolFont;
    background-color: transparent;
    font-size: 20px;
    padding: 0.5rem;
    z-index: 999999;
    color: $Bcolor;

    .navBtn {
        width: 35px;
        height: 30px;
        background: transparent;
        border: 0;
        position: relative;

        i {
            position: absolute;
            z-index: 99999;
            background-color: $Bcolor;
            display: block;
            width: 95%;
            height: 1.8px;
            transition: 0.5s;


            &:nth-child(1) {
                top: 0;
            }

            &:nth-child(2) {
                top: 50%;
            }

            &:nth-child(3) {
                bottom: 0;
            }

        }

        &.act {
            i {
                &:nth-child(1) {
                    top: 50%;
                    transform: rotate(45deg);
                }

                &:nth-child(2) {
                    opacity: 0;
                }

                &:nth-child(3) {
                    top: 50%;
                    transform: rotate(-45deg);
                }
            }

        }


    }


    ul {
        margin-bottom: 0;
    }


    .navmn {
        li {
            margin: 15px;

        }
    }

    .icoBox {
        li {
            margin: 15px;

            img {
                width: 20px;
            }
        }

        .userIco {
            img {
                width: 24px;
            }
        }

    }


    @media (max-width: 992px) {
        .navmn {
            position: absolute;
            left: 0;
            top: 0;
            background-color: $Wcolor;
            height: 500px;
            width: 0;
            overflow: hidden;
            padding: 0;
            transition: .5s;
            opacity: 0;

            &.Bclick {
                min-height: 500px;
                padding: 5rem 2rem;
                width: 50%;
                opacity: 1;
            }

            li {
                border-bottom: 1px solid $Bcolor;

                a {
                    display: block;
                    width: 100px;
                }
            }


        }
    }

}

/////////////////////swiper////////////////////

.jyySwiper {
    .imgBox {
        img {
            width: 100%;
        }
    }
}