@font-face {
  font-family: "seolleimcool-SemiBold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2312-1@1.1/seolleimcool-SemiBold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding-left: 0;
  margin-bottom: 0;
}

li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
  list-style: none;
}

.w-0 {
  width: 0;
  white-space: nowrap;
}

.zup {
  z-index: 99999;
}

header {
  font-family: "seolleimcool-SemiBold";
  background-color: transparent;
  font-size: 20px;
  padding: 0.5rem;
  z-index: 999999;
  color: #1B1B1B;
}
header .navBtn {
  width: 35px;
  height: 30px;
  background: transparent;
  border: 0;
  position: relative;
}
header .navBtn i {
  position: absolute;
  z-index: 99999;
  background-color: #1B1B1B;
  display: block;
  width: 95%;
  height: 1.8px;
  transition: 0.5s;
}
header .navBtn i:nth-child(1) {
  top: 0;
}
header .navBtn i:nth-child(2) {
  top: 50%;
}
header .navBtn i:nth-child(3) {
  bottom: 0;
}
header .navBtn.act i:nth-child(1) {
  top: 50%;
  transform: rotate(45deg);
}
header .navBtn.act i:nth-child(2) {
  opacity: 0;
}
header .navBtn.act i:nth-child(3) {
  top: 50%;
  transform: rotate(-45deg);
}
header ul {
  margin-bottom: 0;
}
header .navmn li {
  margin: 15px;
}
header .icoBox li {
  margin: 15px;
}
header .icoBox li img {
  width: 20px;
}
header .icoBox .userIco img {
  width: 24px;
}
@media (max-width: 992px) {
  header .navmn {
    position: absolute;
    left: 0;
    top: 0;
    background-color: #FFFEF1;
    height: 500px;
    width: 0;
    overflow: hidden;
    padding: 0;
    transition: 0.5s;
    opacity: 0;
  }
  header .navmn.Bclick {
    min-height: 500px;
    padding: 5rem 2rem;
    width: 50%;
    opacity: 1;
  }
  header .navmn li {
    border-bottom: 1px solid #1B1B1B;
  }
  header .navmn li a {
    display: block;
    width: 100px;
  }
}

.jyySwiper .imgBox img {
  width: 100%;
}